.pass-item {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: #80808075;
  }

  &__title {
    cursor: pointer;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }

  &__edits {
    & > span:not(:last-child) {
      margin-right: 10px;
    }

    span {
      cursor: pointer;

      &:hover {
        color: blue;
        text-decoration: underline;
      }
    }
  }
}

.delete-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  div {
    flex: 1;
  }
}
