.load {
  display: flex;
  justify-content: center;
}

.password-form {
  .fas {
    font-size: 1px;
  }

  .dx-field-label {
    width: 25%;
  }

  .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
    width: 75%;
  }

  .password-field {
    .fas {
      font-size: 15px;
    }

    .dx-button {
      height: 30px;
    }

    .dx-button-has-icon {
      min-width: 30px;

      .dx-button-content {
        padding: 4px;
      }
    }
  }
}
